/* ========================================================================
   customize the style 2
   ========================================================================== */
@charset "utf-8";

/* ------------------------------------------- General - Wistronits bg color ---*/
.bg_white {
	background-color:rgba(255, 255, 255, 1.0);
}
.bg_wistronits_blue { /*緯創藍 */
	background-color:rgba(0,105,143, 1.0);
}
.bg_wistronits_blue1 { /*緯創藍，10%*/
	background-color:#e5f0f4; /*-- (210,240,250,1.0) --*/
}
.bg_wistronits_blue15 { /*緯創藍，15%*/
	background-color:#d9e9ee; /*-- (210,240,250,1.0) --*/
}
.bg_wistronits_blue2 { /*緯創藍，20%*/
	background-color:#cce1e9; /*-- (210,240,250,1.0) --*/
}
.bg_wistronits_blue25 { /*緯創藍，25%*/
	background-color:#bfd9e3;
}
.bg_wistronits_blue3 { /*緯創藍，*/
	background-color:rgba(11,121,150,1.0);
}
.bg_wistronits_blue4 { /*緯創藍，40% 淡*/
	background-color:rgba(77,150,177,1.0);
}
.bg_wistronits_blue5 { /*緯創藍，5淡*/
	background-color:rgba(0,105,143, 0.05); /*-- (238,244,255,1.0) --*/
}
.bg_wistronits_green { /*緯創綠 1*/
	background-color:rgba(149,214,0,1.0);
}
.bg_wistronits_green2 { /*緯創氯，2淡*/
	background-color:rgba(75,160,61,1.0); 
}

/* ------------------------------------------- General - Wistronits color ---*/
.wistronits_blue {
	color:rgba(0,105,143, 1.0);
}
.wistronits_green {
	color:rgba(149,214,0,1.0);
}
.wistronits_blue2 {
	color:rgba(80,116,138,1.0);
}

/* ------------------------------------------- General - FONT ---*/
.simple_font {
	font-family: "Microsoft YaHei" ; !important; /*雅黑簡體用*/
} /*簡雅黑*/

.font300 {
	font-weight: 300;
}
.font400 {
	font-weight: 400;
}
.font500 {
	font-weight: 500;
}
.font600 {
	font-weight: 600;
}
.font800 {
	font-weight: 800;
}
.font900 {
	font-weight: 900;
}
.font0875em {
	font-size:0.875em;/*14px*/
	line-height: 1.375em;/*22px*/
}
.font09em { font-size:0.9em; }
.font1em {
	font-size:1em;
}
.font11em {
	font-size:1.1em;
}
.font12em {
	font-size:1.2em;
}
.font125em {
	font-size:1.25em;
}
.font128em {
	font-size:1.28em;
}
.font13em {
	font-size:1.3em;
}
.font14em {
	font-size:1.4em;
}
.font15em {
	font-size:1.5em;
}
.font2em {
	font-size:2em;
}
.font3375em {
	font-size:3.375em;
}
.font_border {
	font-weight: bolder;
}
.fontwhite, .fontwhite a, .fontwhite:hover { color:#ffffff; }
.fontwhite:hover { text-decoration: underline; }
.font100gray {
	color:rgba(0,0,0,1.0);
}
.font90gray {
	color:rgba(0,0,0,0.9);
}
.font80gray {
	color:rgba(0,0,0,0.8);
}
.font70gray {
	color:rgba(0,0,0,0.7);
}
.font60gray {
	color:rgba(0,0,0,0.6);
}
.font50gray {
	color:rgba(0,0,0,0.5);
}
.font40gray {
	color:rgba(0,0,0,0.4);
}
.font_marquee { font-size:0.785em; }
/* --------------------------------------------------  margin 左側空間 --- */
.margin_left1em {
	margin-left: 1em;
}
.margin_left12em {
	margin-left: 1.2em;
}
.margin_left15em {
	margin-left: 1.5em;
}
.margin_left2em {
	margin-left: 2em;
}
.margin_left3em {
	margin-left: 3em;
}
.margin_left4em {
	margin-left: 4em;
}
.margin_left5em {
	margin-left: 5em;
}
.margin_left6em {
	margin-left: 6em;
}
.margin_left7em {
	margin-left: 7em;
}
.margin_left8em {
	margin-left: 8em;
}
.margin_left9em {
	margin-left: 9em;
}
.margin_left10em {
	margin-left: 10em;
}
.margin_top1em {
	margin-top: 1em;
}
.margin_top2em {
	margin-top: 2em;
}
.margin_top10percent {
	margin-top:10%;
}
.margin_top0px {
	margin-top: 0px;
}
/*------------------------------- padding 左邊加空格 -------*/
.spacer12em { 
	padding: 0 0 0 1.2em;
	margin-top: -20px;	
}
.padding_left12em { padding-left: 1.2em; }

/* ------------------------------------------------  寬度百分比 --- */
.width2percent {
	width:2%;
}
.width5percent {
	width:5%;
}
.width10percent {
	width:10%;
}
.width15percent {
	width:15%;
}
.width20percent {
	width:20%;
}
.width50percent {
	width:50%;
}
.width80percent {
	width:80%;
}
.width85percent {
	width:85%;
}
.width95percent {
	width:95%;
}
.width98ercent {
	width:98%;
}
/*-------------------------------------------- TOP - tm container 第一排緯創綠 ---*/
.tm-container {
  background-color: rgba(0,105,143, 1.0);
  border-top: 3px solid rgba(149,214,0,1.0);
  border-bottom: 3px solid rgba(149,214,0,1.0);
  min-height: 100vh;
}
/*-------------------------------------------- TOP - tm toolbar 第一排菜單 ---*/
.tm-toolbar {/*底色，緯創藍1號*/
  background: rgba(0,105,143, 1.0);  
}
.tm-toolbar ul.uk-subnav li a { color:rgba(255,255,255,1.0); } /*文字，白*/
.tm-toolbar ul.uk-subnav li a:hover { color:rgba(149,214,0,1.0); } /*文字，滑鼠移過，緯創綠*/
.tm-toolbar .uk-subnav-line > li:nth-child(n+2):before { /*第一層nav點點顏色*/
  background: rgba(149,197,102,1.0);
  box-shadow: 0 0px 0 0;
}
/*-------------------------------------------- TOP - tm toolbar 第一排菜單 下拉選單 ---*/
.tm-toolbar .uk-button-link { color:rgba(255,255,255,1.0); font-family: Arial, "sans-serif"; }/*language, 白色*/
.tm-toolbar .uk-button-dropdown a:hover { color:rgba(77,150,177,1.0); }/*language, hover, 文字, 緯創藍，2淡*/
.uk-icon-caret-down { color:rgba(149,214,0,1.0); } /*language 箭頭 */


.tm-toolbar .uk-dropdown ul { background-color:rgba(255,255,255,1.0); }  /* language 下拉選單區塊，背景色 */
.tm-toolbar .uk-dropdown .uk-nav-dropdown li a { color:rgba(0,105,143, 1.0);  }  /* language, 下拉選單，文字色 */

.tm-toolbar .uk-container .uk-float-right .uk-button-dropdown .uk-dropdown ul.uk-nav li a:hover { 
	background-color:rgba(0,105,143, 1.0); color:rgba(255,255,255,1.0); }/* language 下拉選單，hover 背景緯創藍 */


/*-------------------------------------------- TOP - uk-parent 第二排菜單 下拉選單樣式 ---*/
.uk-flex li.uk-parent, .uk-flex li.uk-parent a {
	color:rgba(0,105,143,1.0);
	font-family: "Microsoft JhengHei", 'Noto Sans TC', sans-serif; /*nav下拉樣式*/
	font-weight: bolder;
}
.uk-flex .tm-navbar .uk-navbar-nav .uk-dropdown .uk-nav li a:hover { /*nav下拉hover背景*/
	background-color: rgba(0,105,143,1.0); }

/*-------------------------------------------- slider ---*/

.tm-slideshow-sandal {  /*--- 主標 ---*/
    background-color: none;
} 
.uk-overlay-top{ /*--- 位置 ---*/
	margin-top: 120px;
}
/* ------------------------------------------ slider 文字白 ---*/
.uk-overlay-panel { 
	background: none; 
    color:#ffffff; 
}
.uk-slidenav:active {
  background-color:rgba(0,105,143, 1.0); 
}
.moveup10px { 
    position: relative;
    top:-20px;
}
/*--------------------------------- percent ---*/
.line100percent {
	line-height:100%;
}
.line120percent {
	line-height:120%;
}
.tm-slideshow-panel-sandal .uk-slidenav {
  	background-color:rgba(0,105,143, 1.0); /*首頁劍頭背景色*/
}
.tm-counter-content .tm-counter-number {
    color:rgba(0,105,143, 1.0); /*  counter 數字改緯創藍 */
	font-family: "Microsoft YaHei", 'Noto Sans SC Sliced', sans-serif; !important; /*雅黑簡體用*/
	font-family: "Microsoft JhengHei", 'Noto Sans TC', sans-serif; !important; /*正黑繁體用*/
}
.tm-counter-title { 
    color:rgba(0,105,143, 1.0); /*  counter 文字改緯創藍 */
}
.uk-flex li.uk-parent, .uk-flex li.uk-parent a {
	color:rgba(0,105,143,1.0);
	font-family: "Microsoft JhengHei", 'Noto Sans TC', sans-serif;/*nav下拉樣式*/
	font-weight: bolder;
}

/* ------------------------------------------- offcanvas language 綠底色版本 
.borderleft1px { border-left:rgba(255,255,255,0.2) 1px solid; } /*左邊線
.borderbottom1px { border-bottom:rgba(255,255,255,0.2) 1px solid; } /*底邊線
.language_text, .language_text a { color:#ffffff; } /*字顏色
.language_text a:hover { color:#000000; text-decoration:none; } ---*/

/* ------------------------------------------- offcanvas language 白底色版本 ---*/
.borderleft1px { border-left:rgba(0,105,143, 0.2) 1px solid; } /*左邊線*/
.borderbottom1px { border-bottom:rgba(0,105,143, 0.2) 1px solid; } /*底邊線*/
.language_text, .language_text a { color:rgba(0,105,143, 1.0) } /*字顏色*/
.language_text a:hover { color:rgba(0,105,143, 0.6); text-decoration:none; }


/* ------------------------------------------- offcanvas 左拉選單 ---*/
.uk-offcanvas-bar { background-color:rgba(0,105,143, 1.0); } /* 背景，緯創藍1號 */
.uk-offcanvas-bar ul li.uk-parent { background-color:rgba(0,105,143,1.0) } /* 第一層,li選項,  改緯創藍1號 */
.uk-offcanvas-bar ul li ul.uk-nav-sub { background-color:rgba(77,150,177,1.0); } /* 第二層，ul區塊，改緯創藍4號 */

.uk-offcanvas-bar ul li.uk-parent a:hover { color:rgba(77,150,177,1.0); } /* 第一層，li選項，文字，滑鼠移過，改緯創藍4號 */
.uk-offcanvas-bar ul li.uk-parent ul.uk-nav-sub li a:hover { color:rgba(0,35,47,1.0); } /* 第二層，li選項，文字，滑鼠移過，改緯創藍5號，深藍*/

html .uk-nav.uk-nav-offcanvas > li.uk-active > a { color: rgba(77,150,177,1.0); } /* 文字，active選項頁面，改緯創藍4號 */

/* -------------------------------------------  Footer 底腳顏色 ---*/
.uk-block-secondary { background-color:rgba(0,105,143,1.0); } /* 緯創原始藍 */

/* -------------------------------------------  title 底線 緯創綠 ---*/
.uk-block-secondary .uk-module-title:after,
.uk-block-secondary > .uk-panel-title:after {
  border-bottom-color: rgba(149,214,0,1.0);
}

/* -------------------------------------------  第二層下拉菜單 背景色 ---*/
.tm-totop-scroller {
 	color:rgba(149,214,0,1.0); 
}
li.drop_effect a:hover{
	background-color:rgba(0,105,143,1.0); /*nav下拉hover背景*/
}

/*-------------------------------------------------------------------- 內頁設定 ---*/

/* ---------------------------------------------------- 底色藍設定 ---------------- */
.uk-block-default { background-color:rgba(255,255,255,1.0); } /* 白 */
.uk-block-primary-light { background-color:rgba(210,240,250,1.0); }/* 緯創淡藍 */
.uk-block-primary { background-color:rgba(11,121,150,1.0);} /* 緯創中間藍 */
.uk-block-secondary { background-color:rgba(0,105,143,1.0); } /* 緯創原始藍 */


/*----------------------------------------------------- 各單元修正抬頭 --*/
.item_service {
	background-image: url(item_service.jpg)/*tpa=http://www.wistronits.com/tw/images/item_service.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_solution {
	background-image: url(item_solution.jpg)/*tpa=http://www.wistronits.com/tw/images/item_solution.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_about {
	background-image: url(item_about.jpg)/*tpa=http://www.wistronits.com/tw/images/item_about.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_news {
	background-image: url(item_news.jpg)/*tpa=http://www.wistronits.com/tw/images/item_news.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_investor {
	background-image: url(item_investor.jpg)/*tpa=http://www.wistronits.com/tw/images/item_investor.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_report {
	background-image: url(item_report.jpg)/*tpa=http://www.wistronits.com/tw/images/item_report.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_recruiting {
	background-image: url(item_recruiting.jpg)/*tpa=http://www.wistronits.com/tw/images/item_recruiting.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_contact {
	background-image: url(item_contact.jpg)/*tpa=http://www.wistronits.com/tw/images/item_contact.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_sitemap {
	background-image: url(item_sitemap.jpg)/*tpa=http://www.wistronits.com/tw/images/item_sitemap.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_applications {
	background-image: url(item_applications.jpg)/*tpa=http://www.wistronits.com/tw/images/item_applications.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}
.item_indus {
	background-image: url(item_k.jpg)/*tpa=http://www.wistronits.com/tw/images/item_k.jpg*/;
	background-position: center;
	background-repeat: repeat-x;
}

/* ---------------------------------------------------- 內頁 ---------------- */
.tm-sidebar-b .uk-panel { background-color:#d9e9ee; } /* 15%，side, 右邊框底色，原有淡 rgba(210,240,250,1.0);*/
#uk-panel ul.uk-nav li.uk-active { background-color:rgba(149,214,0,1.0); } /* side active 緯創藍底 */

/*--------------------------------- uk-active 修正底色 --*/
.uk-nav-side > li.uk-active > a {  background-color:rgba(0,105,143,1.0); }

/*--------------------------------- news 按鍵修正底色 緯創藍--*/
.uk-button-primary {
  background-color: rgba(0,105,143, 1.0);
  color: #ffffff;
}
.uk-button-primary:hover,
.uk-button-primary:focus {
  background-color: rgba(77,150,177,1.0);
  color: #ffffff;
}

.border1px {
	border: rgba(77,150,177,1.0) 1px solid;
}
/*---------------------------------　投資人專區　按鍵　---*/
.tm-toggle .uk-accordion-title i.tm-toggle-button {
  font-family: "fontAwesome";
  color: #ffffff;
  background-color:rgba(0,105,143, 1.0);  
}
.tm-toggle .uk-accordion-title { 
	background-color:#e5f0f4; /*緯創藍，10%*/ 
}
.tm-toggle .uk-accordion-title.uk-active {
  background-color:#e5f0f4; /*緯創藍，10%*/
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
  color: #2a455d;
}
/*---------------------------------　email 加底線　---*/
.email { text-decoration: none; color: rgba(149,214,0,1.0); letter-spacing:-1px; }
.email:hover { text-decoration: underline; }

/*---------------------------------　第一層菜單 tool bar　---*/

/*---  以下是給招募用的 css ---*/
.width80px { width:80px; }

/*---  table 邊框 ---*/
.uk-table { border-collapse: separate; border-spacing: 2px;  border:0px; }

.tm-breadcrumbs { background-color: #e5f0f4; /*-- 10% 緯創藍 --*/ }
.vertical_middle { vertical-align: middle; }

/*-----------------------------------投資人服務 --*/
.tm-price-title, .tm-price-tag { background-color: rgba(0,105,143, 1.0); padding-bottom: 14px; }
.tm-price-title a, .tm-price-title a:hover{ color:rgba(255,249,249,1.00); text-decoration: none; }
.text_vertical_middle15em { height:2em; line-height: 2em; }
.image_right { float:right; padding-left:1em; }
.uk-width-1-1 li { list-style: none; margin:0px; padding:0px; }
.uk-module-title ul.uk-width-1-1 { padding-left:0px; margin:0px; }

/*---------------------------------- sitemap 網站地圖 --*/
.sitemap { color:#ffffff; }
.sitemap:hover {  color:#ffffff; text-decoration: underline; }

/*---------------------------------- 投資人服務 修正 --*/
.uk-width-medium-1-4 ul.uk-width-1-1 { padding-left:0px; }
.margin_bottom26px { margin-bottom: -26px; }


/*---------------------------------- 圖說文字 --*/
.font_fig { font-size: 0.875em; color:#898989; } /*-- 14px k60  --*/

/*---------------------------------- 招募進入 --*/
.font_getin { font-weight:lighter; font-size:0.625em; }

/* --------------------------------- aside 內頁右側選單 ---*/
aside.tm-sidebar-b .uk-panel ul li.uk-parent ul.uk-nav-sub { background-color:#cce1e9; }/*側邊，第二層，ul區塊，底色，改緯創藍2號 */
